<div class="container">
  <div class="row my-5">
    <div class="col-md-9">
      <%= @playlist.user.name %></br>
      <%= @playlist.name %></br></br>
      <%#= @playlist.playlist_video.clip.title %>
      <% @playlist.playlist_video.each do |pv| %>
        <%= pv.clip.title %> <%= pv.id %></br>
      <% end %>
    </div>
  </div>
</div>