<div class="container">
  <div class="row mt-5">
    <div class="col-md-8 mb-3">
      <div class="movie_center" style="position: relative; height:0px; width: 100%; padding-top: 56.25%;">
				<div id="movie-play" style="position: absolute; top: 0; left: 0;"></div>
			</div>
    </div>

		<div class="col-md-4">
			<div class="btn-group btn-group-toggle mb-2" data-toggle="buttons">
				<label class="btn btn-secondary btn-md active">
					<input type="radio" name="options" id="option1" autocomplete="off" checked> 通常
				</label>
				<label class="btn btn-secondary btn-md">
					<input type="radio" name="options" id="continuous_playback" autocomplete="off"> 連続再生
				</label>
				<label class="btn btn-secondary btn-md">
					<input type="radio" name="options" id="shuffle_playback" autocomplete="off"> シャッフル
				</label>
			</div>

			<div class="overflow-auto" style="height:50vh;">
				<div id="movie-menu" class="list-group d-flex flex-wrap" style="">
					<div class="btn list-group-item list-group-item-action px-auto d-flex flex-row" id="" style="">
						<div class="" style="width:25%;">
							<div class="mr-2" style="position: relative; width: 100%; padding-top: 56.25%;">
								<img src="https://img.youtube.com/vi/CQnKxeE2IbQ/hqdefault.jpg" alt="" class="img-fluid" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; object-fit: cover;">
							</div>
						</div>
						<div class="ml-2">LAST STARDUST</div>
					</div>
					<!--<div class="btn list-group-item list-group-item-action px-auto d-flex flex-nowrap" id="" style=""><div class="mr-2" style="width:60px;"><img src="https://img.youtube.com/vi/CQnKxeE2IbQ/default.jpg" alt="" class="img-fluid" style="max-width:100%; height: auto;"></div>LAST STARDUST</div>-->
					<div class="btn list-group-item list-group-item-action px-auto d-flex flex-nowrap" id=""><div class="mr-2" style="width:60px;"><img src="https://img.youtube.com/vi/CQnKxeE2IbQ/hqdefault.jpg" alt="" class="img-fluid" style="max-width:100%; height: auto;"></div>you</div>
					<div class="btn list-group-item list-group-item-action px-auto d-flex flex-nowrap" id=""><div class="mr-2" style="width:60px;"><img src="https://img.youtube.com/vi/CQnKxeE2IbQ/hqdefault.jpg" alt="" class="img-fluid" style="max-width:100%; height: auto;"></div>点描の唄</div>
					<div class="btn list-group-item list-group-item-action px-auto d-flex flex-nowrap" id=""><div class="mr-2" style="width:60px;"><img src="https://img.youtube.com/vi/SjuAIIe0Op0/hqdefault.jpg" alt="" class="img-fluid" style="max-width:100%; height: auto;"></div>ステラ</div>
					<div class="btn list-group-item list-group-item-action px-auto d-flex flex-nowrap" id=""><div class="mr-2" style="width:60px;"><img src="https://img.youtube.com/vi/bVQ83PuM8qo/hqdefault.jpg" alt="" class="img-fluid" style="max-width:100%; height: auto;"></div>残響讃歌</div>
					<div class="btn list-group-item list-group-item-action px-auto d-flex flex-nowrap" id=""><div class="mr-2" style="width:60px;"><img src="https://img.youtube.com/vi/LbaxU0-3wB8/hqdefault.jpg" alt="" class="img-fluid" style="max-width:100%; height: auto;"></div>シャルル</div>
					<div class="btn list-group-item list-group-item-action px-auto d-flex flex-nowrap" id=""><div class="mr-2" style="width:60px;"><img src="https://img.youtube.com/vi/B_FSf9q8Teo/hqdefault.jpg" alt="" class="img-fluid" style="max-width:100%; height: auto;"></div>Virtual to LIVE</div>
					<div class="btn list-group-item list-group-item-action px-auto d-flex flex-nowrap" id=""><div class="mr-2" style="width:60px;"><img src="https://img.youtube.com/vi/eXsrobcgs9E/hqdefault.jpg" alt="" class="img-fluid" style="max-width:100%; height: auto;"></div>only my railgun</div>
					<div class="btn list-group-item list-group-item-action px-auto d-flex flex-nowrap" id=""><div class="mr-2" style="width:60px;"><img src="https://img.youtube.com/vi/B3LdMKVGXBY/hqdefault.jpg" alt="" class="img-fluid" style="max-width:100%; height: auto;"></div>白日</div>
					<div class="btn list-group-item list-group-item-action px-auto d-flex flex-nowrap" id=""><div class="mr-2" style="width:60px;"><img src="https://img.youtube.com/vi/Yq4qu5WiPY8/hqdefault.jpg" alt="" class="img-fluid" style="max-width:100%; height: auto;"></div>Pretender</div>
					<div class="btn list-group-item list-group-item-action px-auto d-flex flex-nowrap" id=""><div class="mr-2" style="width:60px;"><img src="https://img.youtube.com/vi/Y98vM_pWsJE/hqdefault.jpg" alt="" class="img-fluid" style="max-width:100%; height: auto;"></div>Mela!</div>
					<div class="btn list-group-item list-group-item-action px-auto d-flex flex-nowrap" id=""><div class="mr-2" style="width:60px;"><img src="https://img.youtube.com/vi/6N1beg6Z_Ks/hqdefault.jpg" alt="" class="img-fluid" style="max-width:100%; height: auto;"></div>かつて天才だった俺へ</div>
					<div class="btn list-group-item list-group-item-action px-auto d-flex flex-nowrap" id=""><div class="mr-2" style="width:60px;"><img src="https://img.youtube.com/vi/_ptGJpzO0sM/hqdefault.jpg" alt="" class="img-fluid" style="max-width:100%; height: auto;"></div>アイネクライネ</div>
					<div class="btn list-group-item list-group-item-action px-auto d-flex flex-nowrap" id=""><div class="mr-2" style="width:60px;"><img src="https://img.youtube.com/vi/7jbw2xmFliI/hqdefault.jpg" alt="" class="img-fluid" style="max-width:100%; height: auto;"></div>ETERNAL WIND 〜ほほえみは光る風の中〜</div>
					<div class="btn list-group-item list-group-item-action px-auto d-flex flex-nowrap" id=""><div class="mr-2" style="width:60px;"><img src="https://img.youtube.com/vi/lAo2WGB68Jo/hqdefault.jpg" alt="" class="img-fluid" style="max-width:100%; height: auto;"></div>独りんぼエンヴィ</div>
					<div class="btn list-group-item list-group-item-action px-auto d-flex flex-nowrap" id=""><div class="mr-2" style="width:60px;"><img src="https://img.youtube.com/vi/luad14F4__c/hqdefault.jpg" alt="" class="img-fluid" style="max-width:100%; height: auto;"></div>MIRA</div>
					<div class="btn list-group-item list-group-item-action px-auto d-flex flex-nowrap" id=""><div class="mr-2" style="width:60px;"><img src="https://img.youtube.com/vi/n6cAE2ue84w/hqdefault.jpg" alt="" class="img-fluid" style="max-width:100%; height: auto;"></div>神っぽいな</div>
					<div class="btn list-group-item list-group-item-action px-auto d-flex flex-nowrap" id=""><div class="mr-2" style="width:60px;"><img src="https://img.youtube.com/vi/Dg6dG3U6n-c/hqdefault.jpg" alt="" class="img-fluid" style="max-width:100%; height: auto;"></div>神っぽいな</div>
					<div class="btn list-group-item list-group-item-action px-auto d-flex flex-nowrap" id=""><div class="mr-2" style="width:60px;"><img src="https://img.youtube.com/vi/E7ZoxfoRxWw/hqdefault.jpg" alt="" class="img-fluid" style="max-width:100%; height: auto;"></div>SOS</button>
				</div>
			</div>
		</div>
  </div>
<h1>Homes#top</h1>
<p>Find me in app/views/homes/top.html.erb</p>
</div>


<!----- movie_center ----->
<script>
//IFrame Player APIを呼び出す
  const tag = document.createElement('script');
  tag.src = "https://www.youtube.com/player_api";
  const firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

//プレーヤーの準備
	var ytNum = 0;
	let thumbInsert = '';
	let ytPlayer;
	let ytData = [
	  //{ youtubeのID, 開始時間(秒), 終了時間(秒) },
		{ id: 'CQnKxeE2IbQ', start: '1069', end: '1385' },
		{ id: 'CQnKxeE2IbQ', start: '2146', end: '2380' },
		{ id: 'CQnKxeE2IbQ', start: '2388', end: '2694' },
		{ id: 'SjuAIIe0Op0', start: '2193', end: '2516' },
		{ id: 'bVQ83PuM8qo', start: '646', end: '828' },
		{ id: 'LbaxU0-3wB8', start: '611', end: '841' },
		{ id: 'B_FSf9q8Teo', start: '', end: '' },
		{ id: 'eXsrobcgs9E', start: '455', end: '706' },
		{ id: 'B3LdMKVGXBY', start: '', end: '' },
		{ id: 'Yq4qu5WiPY8', start: '', end: '' },
		{ id: 'Y98vM_pWsJE', start: '', end: '' },
		{ id: '6N1beg6Z_Ks', start: '', end: '' },
		{ id: '_ptGJpzO0sM', start: '', end: '' },
		{ id: '7jbw2xmFliI', start: '', end: '' },
		{ id: 'lAo2WGB68Jo', start: '', end: '' },
		{ id: 'luad14F4__c', start: '', end: '' },
		{ id: 'n6cAE2ue84w', start: '915', end: '1119' },
		{ id: 'Dg6dG3U6n-c', start: '', end: '' },
		{ id: 'E7ZoxfoRxWw', start: '' },
	];

//サムネイル画像の埋め込み準備
// 	for(let i = 0; i < ytData.length; i++) {
// 		thumbInsert += '<span class="list-group-item p-1 mx-1">';
// 		thumbInsert += '<img src="https://img.youtube.com/vi/' + ytData[i]['id'] + '/default.jpg" alt="" class="img-fluid" style="max-width: 100%; , height: auto;">';
// 		thumbInsert += '</span>';
// 	}

// 動画プレーヤーの読み込み
	// function onYouTubeIframeAPIReady() {
	window.onYouTubeIframeAPIReady = function() {
    ytPlayer = new YT.Player('movie-play', {
      width: '100%',
      height: '100%',
      videoId: ytData[0]['id'],
			playerVars:{
				rel: 0, //関連動画なし
				modestbranding: 1, //YouTube ロゴなし
				// disablekb: 0,
				// enablejsapi: 1,
				start: ytData[0]['start'],
				end: ytData[0]['end'],
			},
			events: { /* イベント */
        'onReady': onPlayerReady,   /* プレーヤの準備完了時 */
        'onStateChange': onPlayerStateChange   /* 動画プレーヤーのステータス変更 */
      }
    });
  }
	//動画の再生
	function onPlayerReady(event) {
    event.target.playVideo();
  }
	function play(ytNum) {
		ytPlayer.loadVideoById({
			'videoId': ytData[ytNum]['id'],
      'startSeconds': ytData[ytNum]['start'],
      'endSeconds': ytData[ytNum]['end'],
      'suggestedQuality': 'medium',
			'rel': 0, //関連動画なし
			'modestbranding': 1, //YouTube ロゴなし
			// 'disablekb': 0, //キーボード操作有効
			// 'enablejsapi': 1, //IFrame または JavaScript Player API を呼び出してプレーヤーを制御
			// 'suggestedQuality': 'large',
		});
	}

//リストクリック
	$(function() {
		// $('#movie-menu').append(thumbInsert);
	  /* 指定した動画を再生 */
		$('#movie-menu .btn').on('click', function() {
			ytNum = $('#movie-menu .btn').index(this)
				console.log(ytNum);
				console.log(ytData[ytNum]['id']);
			play(ytNum);
			return false;
		});
	});

// 連続再生
	function onPlayerStateChange(event) {
		if ($('#continuous_playback').parent().hasClass('active')) {
				console.log(event);
			playback(event);
			if (event.data == YT.PlayerState.ENDED) { //ENDED == 0
				if (playlog == 11) {
					playlog = 22;
					ytNum = parseInt(ytNum) + 1;
						console.log(playlog);
						console.log(ytNum);
					play(ytNum);
				}
			}
		} else if ($('#shuffle_playback').parent().hasClass('active')) {
			console.log(event);
			playback(event);
			if (event.data == YT.PlayerState.ENDED) {
				if (playlog == 11) {
					ytNum = Math.floor( Math.random() * ytData.length );
					playlog = 22;
						console.log(playlog);
						console.log(ytNum);
					play(ytNum);
				}
			}
		}
	}

	function playback(event) {
		if (event.data == 1) {
			playlog = 11;
			console.log(playlog);
		}
	}
</script>


<!--<table id="movie-menu" class="list-group table table-bordered" style="">-->
<!--  <tbody>-->
<!--    <tr class="btn">-->
<!--			<div class="list-group-item list-group-item-action px-auto d-flex flex-nowrap" id="">-->
<!--			  <div class="mr-2" style="width:60px;"><img src="https://img.youtube.com/vi/CQnKxeE2IbQ/default.jpg" alt="" class="img-fluid" style="max-width:100%; height: auto;"></div>-->
<!--			  <h6>LAST STARDUST</h6>-->
<!--			</div>-->
<!--    </tr>-->
<!--    <tr class="btn">-->
<!--			<div class="list-group-item list-group-item-action px-auto d-flex flex-nowrap" id="">-->
<!--			  <div class="mr-2" style="width:60px;"><img src="https://img.youtube.com/vi/CQnKxeE2IbQ/default.jpg" alt="" class="img-fluid" style="max-width:100%; height: auto;"></div>-->
<!--			  <h6>you</h6>-->
<!--			</div>-->
<!--    </tr>-->
<!--    <tr>-->
<!--			<div class="btn list-group-item list-group-item-action px-auto d-flex flex-nowrap" id="">-->
<!--			  <div class="mr-2" style="width:60px;"><img src="https://img.youtube.com/vi/CQnKxeE2IbQ/default.jpg" alt="" class="img-fluid" style="max-width:100%; height: auto;"></div>-->
<!--			  <h6>点描の唄</h6>-->
<!--		  </div>-->
<!--    </tr>-->
<!--    <tr>-->
<!--			<div class="btn list-group-item list-group-item-action px-auto d-flex flex-nowrap" id="">-->
<!--			  <div class="mr-2" style="width:60px;"><img src="https://img.youtube.com/vi/SjuAIIe0Op0/default.jpg" alt="" class="img-fluid" style="max-width:100%; height: auto;"></div>-->
<!--			  <h6>ステラ</h6>-->
<!--		  </div>-->
<!--    </tr>-->
<!--    <tr>-->
<!--			<div class="btn list-group-item list-group-item-action px-auto d-flex flex-nowrap" id="">-->
<!--			  <div class="mr-2" style="width:60px;"><img src="https://img.youtube.com/vi/bVQ83PuM8qo/default.jpg" alt="" class="img-fluid" style="max-width:100%; height: auto;"></div>-->
<!--			  <h6>残響讃歌</h6>-->
<!--		  </div>-->
<!--    </tr>-->
<!--    <tr>-->
<!--			<div class="btn list-group-item list-group-item-action px-auto d-flex flex-nowrap" id="">-->
<!--			  <div class="mr-2" style="width:60px;"><img src="https://img.youtube.com/vi/LbaxU0-3wB8/default.jpg" alt="" class="img-fluid" style="max-width:100%; height: auto;"></div>-->
<!--			  <h6>シャルル</h6>-->
<!--		  </div>-->
<!--    </tr>-->
<!--    <tr>-->
<!--			<div class="btn list-group-item list-group-item-action px-auto d-flex flex-nowrap" id="">-->
<!--			  <div class="mr-2" style="width:60px;"><img src="https://img.youtube.com/vi/B_FSf9q8Teo/default.jpg" alt="" class="img-fluid" style="max-width:100%; height: auto;"></div>-->
<!--			 <h6>Virtual to LIVE</h6>-->
<!--		  </div>-->
<!--    </tr>-->
<!--    <tr>-->
<!--			<div class="btn list-group-item list-group-item-action px-auto d-flex flex-nowrap" id="">-->
<!--			  <div class="mr-2" style="width:60px;"><img src="https://img.youtube.com/vi/eXsrobcgs9E/default.jpg" alt="" class="img-fluid" style="max-width:100%; height: auto;"></div>-->
<!--			  <h6>only my railgun</h6>-->
<!--		  </div>-->
<!--    </tr>-->
<!--    <tr>-->
<!--			<div class="btn list-group-item list-group-item-action px-auto d-flex flex-nowrap" id="">-->
<!--			  <div class="mr-2" style="width:60px;"><img src="https://img.youtube.com/vi/n6cAE2ue84w/default.jpg" alt="" class="img-fluid" style="max-width:100%; height: auto;"></div>-->
<!--			  <h6>神っぽいな</h6>-->
<!--		  </div>-->
<!--    </tr>-->
<!--    <tr>-->
<!--			<div class="btn list-group-item list-group-item-action px-auto d-flex flex-nowrap" id="">-->
<!--			  <div class="mr-2" style="width:60px;"><img src="https://img.youtube.com/vi/Dg6dG3U6n-c/default.jpg" alt="" class="img-fluid" style="max-width:100%; height: auto;"></div>-->
<!--			  <h6>神っぽいな</h6>-->
<!--		  </div>-->
<!--    </tr>-->
<!--    <tr>-->
<!--			<div class="btn list-group-item list-group-item-action px-auto d-flex flex-nowrap" id="">-->
<!--			  <div class="mr-2" style="width:60px;"><img src="https://img.youtube.com/vi/E7ZoxfoRxWw/default.jpg" alt="" class="img-fluid" style="max-width:100%; height: auto;"></div>-->
<!--			  <h6>SOS</h6>-->
<!--		  </div>-->
<!--    </tr>-->
<!--  </tbody>-->
<!--</table>-->