<div class="btn-group btn-group-toggle mb-2" data-toggle="buttons">
	<label class="btn btn-secondary btn-md active">
		<input type="radio" name="options" id="option1" autocomplete="off" checked> 通常
	</label>
	<label class="btn btn-secondary btn-md">
		<input type="radio" name="options" id="continuous_playback" autocomplete="off"> 連続再生
	</label>
	<label class="btn btn-secondary btn-md">
		<input type="radio" name="options" id="shuffle_playback" autocomplete="off"> シャッフル
	</label>
</div>